/.idea/.idea.FinShark/.idea/.gitignore
/api/obj/Debug/net8.0/3ecb14da-ab83-4d46-8d8a-9de2b3d7e3b7_api.pdb
/api/Migrations/20250609143723_init.Designer.cs
/api/obj/api.csproj.EntityFrameworkCore.targets
/api/bin/Debug/net8.0/api.staticwebassets.endpoints.json
/api/bin/Debug/net8.0/Azure.Core.dll
/api/bin/Debug/net8.0/Azure.Identity.dll
/.idea/.idea.FinShark/.idea/dataSources.xml
/.idea/.idea.FinShark/.idea/encodings.xml
/api/bin/Debug/net8.0/Humanizer.dll
/.idea/.idea.FinShark/.idea/indexLayout.xml
/api/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/api/bin/Debug/net8.0/Microsoft.Build.Locator.dll
/api/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
/api/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/api/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/api/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/api/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/api/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/api/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/api/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/api/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/api/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/api/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/api/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/api/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/api/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/api/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/api/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/api/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/api/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/api/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/api/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/api/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/api/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/api/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/api/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/api/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/api/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/api/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/api/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/api/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
/api/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
/api/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
/api/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
/api/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
/api/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
/api/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
/api/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
/api/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
/api/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/api/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
/api/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
/api/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/api/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/api/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
/api/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.dll
/api/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/api/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/api/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/api/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/api/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/api/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/api/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/api/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/api/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/api/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/api/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/api/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/api/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/api/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
/api/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/api/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/api/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/api/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/api/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/api/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/api/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/api/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/api/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/api/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/api/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/api/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/api/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/api/bin/Debug/net8.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
/api/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
/api/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
/api/bin/Debug/net8.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/api/bin/Debug/net8.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/api/bin/Debug/net8.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/api/bin/Debug/net8.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
/api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/api/bin/Debug/net8.0/Microsoft.Extensions.Caching.Abstractions.dll
/api/bin/Debug/net8.0/Microsoft.Extensions.Caching.Memory.dll
/api/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
/api/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/api/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
/api/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
/api/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
/api/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
/api/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
/api/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
/api/bin/Debug/net8.0/Microsoft.Identity.Client.dll
/api/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
/api/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/api/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/api/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/api/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/api/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/api/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/api/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
/api/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/api/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
/api/bin/Debug/net8.0/Mono.TextTemplating.dll
/api/obj/project.packagespec.json
/api/obj/Debug/net8.0/rbcswa.dswa.cache.json
/api/obj/rider.project.model.nuget.info
/api/obj/rider.project.restore.info
/api/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/api/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/api/obj/Debug/net8.0/rpswa.dswa.cache.json
/api/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/api/obj/Debug/net8.0/staticwebassets.build.json.cache
/api/bin/Debug/net8.0/System.ClientModel.dll
/api/bin/Debug/net8.0/System.CodeDom.dll
/api/bin/Debug/net8.0/System.Composition.AttributedModel.dll
/api/bin/Debug/net8.0/System.Composition.Convention.dll
/api/bin/Debug/net8.0/System.Composition.Hosting.dll
/api/bin/Debug/net8.0/System.Composition.Runtime.dll
/api/bin/Debug/net8.0/System.Composition.TypedParts.dll
/api/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
/api/bin/Debug/net8.0/System.Diagnostics.DiagnosticSource.dll
/api/bin/Debug/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/api/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/api/bin/Debug/net8.0/System.Drawing.Common.dll
/api/bin/Debug/net8.0/System.Formats.Asn1.dll
/api/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/api/bin/Debug/net8.0/System.IO.Pipelines.dll
/api/bin/Debug/net8.0/System.Memory.Data.dll
/api/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
/api/bin/Debug/net8.0/System.Runtime.Caching.dll
/api/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/api/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
/api/bin/Debug/net8.0/System.Security.Permissions.dll
/api/bin/Debug/net8.0/runtimes/browser/lib/net8.0/System.Text.Encodings.Web.dll
/api/bin/Debug/net8.0/System.Text.Encodings.Web.dll
/api/bin/Debug/net8.0/System.Text.Json.dll
/api/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/api/bin/Debug/net8.0/System.Windows.Extensions.dll
/.idea/.idea.FinShark/.idea/vcs.xml
